* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --board: 300px;
    --borderFactor: 6;
    --cellSize: 15px;
}

body {
    overflow: hidden;
    width: 100%;
}

.heroes {
    position: absolute;
    top: -150px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(/images/parallax-mountain-bg.png);
    background-size: contain;
    z-index: -1;
}

.goDown {
    animation: ease goDown forwards;
    animation-duration: 5s;
}

.hero.left {
    position: relative;
    animation: ease enterLeft forwards;
    animation-duration: 5s;
}

.hero.right {
    position: relative;
    animation: ease enterRight forwards;
    animation-duration: 5s;
}

.hero img {
    height: 100%;
}

.door {
    position: relative;
    /* padding-top: 10px; */
}

.door img {
    height: 100%;
}

.dialogue {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: blue;
    border: 1px solid white;
    padding: 10px;
    color: white;
    opacity: 0;
    animation: ease startDialogue forwards;
    animation-duration: 0.5s;
    animation-delay: 5s;
}

.board {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
}

.floor {
    background: url(/images/floor.png);
    height: 300px;
    display: flex;
    justify-content: center;
}

.column {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameArea {
    position: relative;
    width: 600px;
}

.boss {
    position: absolute;
    top: 50%;
    opacity: 0;
    right: -100px;
    transform: translate(50%, -50%);
    width: 150px;
}

.boss img {
    width: 100%;
}

.enterBoss {
    animation-name: enterBoss, hover;
    animation-duration: 5s, 10s;
    animation-delay: 3s, 8s;
    animation-iteration-count: 1, infinite;
}

@media screen and (max-width: 800px) {
    .boss {
        /* right: 50px;
        width: 75px; */
    }
    /* you can also lower the gameArea width and the cell size to maintain proportion */
}

.boss img {
    width: 100%;
}

.snake {
    position: absolute;
    top: 50%;
    left: -1000px;
    width: var(--cellSize);
    height: var(--cellSize);
}

.snake img {
    height: 100%;
    width: 100%;
}

.slither {
    animation: ease slither forwards;
    animation-duration: 3s;
}

.cell {
    height: 15px;
    width: 15px;
    /* border: 1px solid blue; */
}

.fire {
    height: 30px;
}
.fire.on {
    background: url(/images/fire.gif);
    background-size: cover;
}

.border {
    height: calc(var(--board) / var(--borderFactor));
    background: url(/images/candle.gif); 
    background-position: center; 
    background-size: contain; 
    background-color: gray;
}


@keyframes hover {
    0% {
        opacity: 1;
        top: 50%;
    }
    33% {
        opacity: 1;
        top: 40%;
    }
    66% {
        opacity: 1;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

@keyframes enterBoss {
    0% {
        opacity: 0;
        right: -450px;
    }
    50% {
        opacity: 0.5;
        right: -100px
    }
    100% {
        opacity: 1;
    }
}

@keyframes startDialogue {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes slither {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}

@keyframes enterLeft {
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}

@keyframes enterRight {
    0% {
        right: -1000px;
    }
    100% {
        right: 0px;
    }
}

@keyframes goDown {
    0% {
    }
    100% {
        top: 100px;
        opacity: 0;
    }
}