* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --board: 300px;
    --borderFactor: 6;
}

.board {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: var(--board); */
    width: 100%;
}

.floor {
    background: url(/images/floor.png);
    height: 300px;
    display: flex;
    justify-content: center;
}

.column {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gameArea {
    /* border: 1px solid red; */
    width: 600px;
}

.cell {
    height: 15px;
    width: 15px;
    border: 1px solid blue;
}

.fire {
    height: 30px;
}
.fire.on {
    background: url(/images/fire.gif);
    background-size: cover;
}

.border {
    height: calc(var(--board) / var(--borderFactor));
    background: url(/images/candle.gif); 
    background-position: center; 
    background-size: contain; 
    background-color: gray;
    /* background-color: brown; */
}

.boss {
    
}